In [4]:
import pandas as pd
import nltk
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('maxent_ne_chunker')
nltk.download('words')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /home/maruyama.y/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /home/maruyama.y/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /home/maruyama.y/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /home/maruyama.y/nltk_data...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /home/maruyama.y/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

https://www.nltk.org/book/ch07.html

In [5]:
news = pd.read_csv('news_mod_0.csv',index_col="ID")

In [6]:
news

,CATEGORY,PUBLISHER,genre,TITLE,uri,story,uri_features,month,date,day,time,ts
ID,,,,,,,,,,,,
13,b,Reuters,article,Europe reaches crunch point on banking union,"eu,banks,resoluton",0,INL6N0M71NJ,3,10,Mon,0,8640.0
14,b,Reuters,article,ECB FOCUS-Stronger euro drowns out ECB's messa...,"ecb,policy",0,INL6N0M71K3,3,10,Mon,0,8640.0
20,b,Businessweek,news,"Euro Anxieties Wane as Bunds Top Treasuries, S...","german,bonds,beat,treasuries,with,yield,spread...",0,NaN,3,10,Mon,0,8640.0
21,b,Businessweek,news,Noyer Says Strong Euro Creates Unwarranted Eco...,"noyer,says,stronger,euro,creates,unwarranted,p...",0,NaN,3,10,Mon,0,8640.0
30,b,Reuters,article,REFILE-Bad loan triggers key feature in ECB ba...,"eurozone,bank,tests",0,INL6N0M71F0,3,10,Mon,0,8640.0
...,...,...,...,...,...,...,...,...,...,...,...,...
422819,m,Huffington Post,hp,UN: Ebola Could Eventually Infect 20000 People,"ebola,20000,people",4577,NaN,8,28,Thu,0,254880.0
422820,m,Reuters,article,"Ebola toll tops 1550, continues to accelerate ...","health,ebola,toll",4577,INL5N0QY2GR,8,28,Thu,0,254880.0
422821,m,Reuters,article,"UPDATE 1-Ebola toll tops 1550, outbreak accele...","health,ebola,toll",4577,INL5N0QY2J7,8,28,Thu,0,254880.0
422828,m,Businessweek,news,"Ebola Cases May Surpass 20000, WHO Says in Upd...","ebola,cases,may,surpass,20,000,who,says,in,upd...",4577,NaN,8,28,Thu,0,254880.0
422838,m,Daily Mail,travel-travel_news,Air France suspends flights to Ebola-hit Sierr...,"Citing,Ebola,Air,France,suspends,flights",4577,NaN,8,28,Thu,2120,256160.0

In [18]:
news['title_parse'] = news['TITLE'].apply(lambda title:nltk.chunk.ne_chunk(nltk.pos_tag(nltk.word_tokenize(title))))

In [20]:
news['title_parse']

ID
13        [[(Europe, NNP)], (reaches, VBZ), (crunch, NN)...
14        [[(ECB, NNP)], (FOCUS-Stronger, NNP), (euro, N...
20        [[(Euro, NNP)], [(Anxieties, NNP), (Wane, NNP)...
21        [[(Noyer, NNP)], (Says, VBZ), [(Strong, NNP), ...
30        [(REFILE-Bad, JJ), (loan, NN), (triggers, NNS)...
                                ...
422819    [(UN, NN), (:, :), [(Ebola, NNP), (Could, NNP)...
422820    [[(Ebola, NNP)], (toll, NN), (tops, NN), (1550...
422821    [(UPDATE, IN), (1-Ebola, JJ), (toll, NN), (top...
422828    [[(Ebola, NNP)], [(Cases, NNP), (May, NNP)], (...
422838    [[(Air, NNP)], [(France, NNP)], (suspends, VBZ...
Name: title_parse, Length: 13340, dtype: object

In [25]:
print(news.loc[13,'title_parse'])

(S
  (GPE Europe/NNP)
  reaches/VBZ
  crunch/NN
  point/NN
  on/IN
  banking/NN
  union/NN)

In [60]:
list(news.loc[13,'title_parse'])

[Tree('GPE', [('Europe', 'NNP')]),
 ('reaches', 'VBZ'),
 ('crunch', 'NN'),
 ('point', 'NN'),
 ('on', 'IN'),
 ('banking', 'NN'),
 ('union', 'NN')]

## Named entity
GPE() ,PERSON, ORGANIZATION

In [51]:
s = set()
for tp in news['title_parse']:
    for elm in tp:
        if type(elm) == tuple: continue
        if len(list(elm)[0])<2: print(tp,elm,type(elm),list(elm)[0])
        s.add(list(elm)[0][1])

In [52]:
s

{'CC',
 'CD',
 'DT',
 'IN',
 'JJ',
 'JJR',
 'JJS',
 'MD',
 'NN',
 'NNP',
 'NNPS',
 'NNS',
 'PRP',
 'RB',
 'SYM',
 'TO',
 'VB',
 'VBD',
 'VBN',
 'VBZ'}

In [19]:
news['title_parse'].apply(lambda li:[elm for elm in li])

ID
13        [[(Europe, NNP)], (reaches, VBZ), (crunch, NN)...
14        [[(ECB, NNP)], (FOCUS-Stronger, NNP), (euro, N...
20        [[(Euro, NNP)], [(Anxieties, NNP), (Wane, NNP)...
21        [[(Noyer, NNP)], (Says, VBZ), [(Strong, NNP), ...
30        [(REFILE-Bad, JJ), (loan, NN), (triggers, NNS)...
                                ...
422819    [(UN, NN), (:, :), [(Ebola, NNP), (Could, NNP)...
422820    [[(Ebola, NNP)], (toll, NN), (tops, NN), (1550...
422821    [(UPDATE, IN), (1-Ebola, JJ), (toll, NN), (top...
422828    [[(Ebola, NNP)], [(Cases, NNP), (May, NNP)], (...
422838    [[(Air, NNP)], [(France, NNP)], (suspends, VBZ...
Name: title_parse, Length: 13340, dtype: object